@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
width: 300px;
}
ul {
    display: flex;
}
li {
    list-style-type:none;
    padding-left: 16px;
}