
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: black;
    color: white;
    }
    nav img {
        height: 100%;
    }
    header {
        background-color: beige;
        height: calc(180vh - 70px);
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size:72px;
    }
    .subheader {
        font-size: 36px;
        margin: 16px 0 24px 0;
    }
    button {
        background-color: black;
        color: white;
        border: none;
        padding:8px 16px ;
        font-size: 24px;
        cursor: pointer;
    }
    a {
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
.logo {
width: 300px;
}
ul {
    display: flex;
}
li {
    list-style-type:none;
    padding-left: 16px;
}
.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#home,
#about-me,
#services,
#IBE-Extensions,
#contact-me
#follow-me
{
    padding: 48px 0;}
#about-me {
    padding: 48px 0;
    background-color: #f8ffdc;}

    h2{
    text-align: center;
    margin-bottom: 24px;
}
.section__description {
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-me__img--wrapper {
    width: 40%;
    padding: 0 24px;
}
img {
    width: 100%;
}
.section__description--wrapper {
    width: 60%;
    padding: 0 24px;

}
.section__description--para {
font-size: 2px;
line-height: 1.5;
margin-bottom: 24px
}

#home {
    padding: 48px 0;
    background-color: #fcf9ed;}

    h2{
    text-align: center;
    margin-bottom: 24px;
}
.section__description {
    display: flex;
    align-items: center;
    justify-content: center;

}
.home__img--wrapper {
    width: 40%;
    padding: 0 24px;
}
img {
    width: 100%;
}
.section__description--wrapper {
    width: 60%;
    padding: 0 24px;

}
.section__description--para {
font-size: 2px;
line-height: 1.5;
margin-bottom: 24px
}

#services {
    padding: 48px 0;
    background-color: #fcf9ed;}

    h2{
    text-align: center;
    margin-bottom: 24px;
}
.section__description {
    display: flex;
    align-items: center;
    justify-content: center;

}
.services__img--wrapper {
    width: 40%;
    padding: 0 24px;
}
img {
    width: 100%;
}
.section__description--wrapper {
    width: 60%;
    padding: 0 24px;

}
.section__description--para {
font-size: 2px;
line-height: 1.5;
margin-bottom: 24px
}
.legacylogo.jpg {
    width: 1300px;
}